{% extends 'base.html.twig' %}

{% block title %}Hello AgencelocController!{% endblock %}

{% block body %}

<div class="text-center">
<p>Bienvenue à bord</p>
<img src="{{ asset('images/accueil_voiture_location.png') }}" alt="" class="img-fluid">
</div>
{% endblock %}
