{% extends 'base.html.twig' %}

{% block title %}AgenceLoc BackOffice Vehicule
{% endblock %}

{% block body %}
	<div>
		<h1 class="display-4 text-center my-4">BACKOFFICE</h1>
        <h2 class="display-4 text-center my-4">Véhicule</h2>

		<p class="Bienvenue sur votre BackOffice"></p>

		<a href="#" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES VEHICULES</a>
		<a href="#" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDE</a>
		<a href="#" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>
	</div>
{% endblock %}