{% extends 'base.html.twig' %}

{% block title %}AgenceLoc BackOffice
{% endblock %}

{% block body %}
	<div>
		<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

		<p class="Bienvenue sur votre BackOffice"></p>

		<a href="{{ path('admin_vehicules') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES VEHICULES&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-car"></i></a>
		<a href="{{ path('admin_commandes') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDE&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i></a>
		<a href="{{ path('admin_membres') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-address-book"></i></a>
	</div>
{% endblock %}
